@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

*{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.98em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: height 0.3s ease-out;
}


html{
	overflow-y: hidden;
}



body{
	display: flex;
	/*height: 100vh;*/	
	overflow-x: scroll;
}

.container{
	display: flex;
	align-items: center;
	margin: auto;
	padding: 0 2vw;
	height: var(--inner-height);
	/*background-color: rgba(100,0,0,0.4);*/
}

.tile {
	flex-shrink: 0;
	height: 75vh;
	margin: 0 2vw;
}

.style0 {
	border:none;
}

.xs{
	width:15vw;
}

.s {
	width: 25vw;
}

.m { 
	width: 50vw 
}

.lg {
	width: 93vw;
}

.style1 {
	border: 1px solid black;
}

