@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

*{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.98em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: height 0.3s ease-out;
}



body{

}

.container{
	display: flex;

	padding-left: 25vw;

	overflow-x: visible;
}

.tile {

	/*display: inline-block;*/
	flex-shrink: 0;

	width: 25vw;
	height: 50vh;

	border: 1px solid black;
}