@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

*{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.98em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: height 0.3s ease-out;
}



body{
	display: flex;
	align-items: center;
	height: 100vh;

	overflow-x: scroll;
	overflow-y: hidden;

	/*background-color: rgba(0,100,0,0.4);*/

}

.container{
	display: flex;
	width: 200vw;
	margin: auto;
	

	
	/*background-color: rgba(100,0,0,0.4);*/
}

.tile {
	flex-shrink: 0;

	width: 25vw;
	height: 50vh;

	margin: 0 2em;
}

.style0 {
	border:none;
}

.style1 {
	border: 1px solid black;
}

